<div class="authentication">
  <h1 class="authentication__title">Welcome to Linernote</h1>
  <p class="authentication__description">Automatically sync your Spotify Account to Linernote and get started directly
  </p>
  <a href="/spotify/login" class="button button--spotify"><img src="/images/spotify.png" alt="Spotify">Login with
    Spotify</a>
  <small class="authentication__note">Note: you need a <a
      href="https://www.spotify.com/nl/premium/?checkout=false">premium
      account</a></small>
</div>