<h1 class="header__title">Search</h1>

<input class="searchArtist" type="text" name="artist" placeholder="Artist">

<ul class="artists"></ul>

{{#section 'script'}}
<script async src="/js/searchArtist.js"></script>
{{/section}}